<!-- Footer -->
<footer class="footer bg-light text-center text-lg-start mt-5">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Vital 360</h5>
          <p>
            Vital 360 represents a holistic approach to senior wellness and aims to enhance physical, emotional, and social well-being.
          </p>
          <h6>Doctors can efficiently manage patients.</h6>
          <h6>The software simplifies medical workflows.</h6>
          <h6>Doctors can easily access patient records.</h6>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
  <h5 class="text-uppercase">Links</h5>

  <ul class="list-unstyled mb-0">
    <li>
      <a href="#" class="text-dark">
        <i class="fas fa-map-marker-alt"></i> Location
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com" class="text-dark" target="_blank">
        <i class="fab fa-instagram"></i> Instagram
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com" class="text-dark" target="_blank">
        <i class="fab fa-facebook-f"></i> Facebook
      </a>
    </li>
    <li>
      <a href="https://www.twitter.com" class="text-dark" target="_blank">
        <i class="fab fa-twitter"></i> Twitter
      </a>
    </li>
  </ul>
</div>

  
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact Us</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <p><i class="fas fa-envelope"></i> Email:Timbot23@example.com</p>
            </li>
            <li>
              <p><i class="fas fa-phone"></i> Phone: +78870705XX</p>
            </li>
            <li>
              <p><i class="fas fa-map-marker-alt"></i> Address: Greater Noida, Gautambudh Nagar, India</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      &copy; 2023 Vital 360. All rights reserved.
    </div>
  </footer>
  